@import './styles/markdown.less';
@import './styles/main.less';
@import './styles/types.less';

:root {
	--clr-pri: #8f479e;
	--rgb-pri: 143, 71, 158;
	--clr-sec: #4bcbe0;
	--rgb-sec: 75, 203, 224;
	--clr-bg: #2d0080;
	--rgb-bg: 45, 0, 128;
	--clr-acc: #b895d4;
	--rgb-acc: 184, 149, 212;
	--clr-state: #ff00f3;
	--rgb-state: 255, 0, 243;
	--clr-white: #fafaff;
	--rgb-white: 250, 250, 255;
	--clr-black: #333;
	--rgb-black: 51, 51, 51;
	--clr-grey: silver;
	--clr-coal: DimGrey;
	--rads: 12px;
	--rads-min: 8px;
	--drop-shadow: 6px 6px 6px 6px rgba(0,0,0,0.35);
	--top-shadow: 0px -4px 4px 0px rgba(0,0,0,0.05);
	--inf: 9999px;
	--page-full: 960px;
	--fib-4: 8.03rem;
	--fib-3: 4.94rem;
	--fib-2: 3.09rem;
	--fib-1: 1.236rem;
	--fib-0: 0.618rem;
	--break-s: 420px;
	--break-m: 960px;
}

