preacti-blog {
  --page-width: 40rem;
  --spacer: 2rem;
  --stroke: 0.25rem;
}

html, body {
  background-color: var(--clr-white)
}

body {
  box-sizing: border-box;
  padding-top: var( --spacer );
  overflow-y: scroll;
  margin: 0;
}

hr {
  margin-left: auto;
  margin-right: auto;
  max-width: var( --page-width );
}

preacti-blog {
  display: block;

  > * + * {
    margin-top: var( --spacer );

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  header {
    margin-left: auto;
    margin-right: auto;
    max-width: var( --page-width );
    font-size: 3rem;
    font-weight: bold;

    box-sizing: border-box;
    padding: var( --spacer );
    background-color: var(--clr-black);
    text-transform: uppercase;
    color: var(--clr-white);
    text-align: center;
  }

  loop-write {
    display: block;
    font-size: 3rem;
    font-weight: bold;

    text-transform: uppercase;
    display: block;
    padding: var( --spacer );
    box-shadow: inset 0 0 0 var( --spacer ) var(--clr-black);
  }
}

blog-tiles {
  display: block;
  background-color: var(--clr-black);

  margin-left: auto;
  margin-right: auto;
  max-width: var( --page-width );
  background-color: var(--clr-white);
  box-shadow: 50vw 0 0 0 var(--clr-black), -50vw 0 0 0 var(--clr-black) ;
  display: grid;
  grid-gap: var( --spacer );
  grid-template-columns: repeat(auto-fit, 5rem);
  justify-content: center;

  button, a {
    width: 5rem;
    height: 5rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    span {
      text-align: center;
      text-transform: uppercase;
      line-height: 1;
    }
  }
}

blog-tile {
  display: block;

  a {
    box-sizing: border-box;
  }
}

button, blog-tile a {

  cursor: pointer;
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: var( --stroke ) solid var(--clr-black);
  white-space: pre-line;
  padding: 0.5rem;
  transition-timing-function: ease;
  transition-duration: 240ms;
  overflow: hidden;
  transition-property: color, box-shadow;

  &:hover {
    color: var(--clr-white);
    box-shadow: inset 0 0 0 5rem var(--clr-black);
  }
}

blog-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: var( --page-width );
  border-top: var( --spacer ) solid var(--clr-black);
  padding-top: var( --spacer );

  > hr {
    margin-top: var( --spacer );
  }

  > button + button, a + a {
    margin-left: var( --spacer );
  }
}


footer {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  max-width: var( --page-width );
  border-top: var( --spacer ) solid var(--clr-black);
  padding-top: var( --spacer );
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var( --spacer );

  & > a {
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and ( max-width: 40rem ) {

  blog-content {
    padding: 1rem;
  }
}

