body {
  color: var(--clr-black);
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
	margin: 0;
	user-select: none;
	-moz-user-select: none;
}

h1 {
	font-size: var(--fib-4);
}

h2 {
	font-size: var(--fib-3);
}

h3 {
	font-size: var(--fib-2);
}

h4 {
	font-size: var(--fib-1);
}

h5 {
	font-size: var(--fib-0);
}

p {
	font-family: 'Anonymous Pro', monospace;
}

a {
  color: var(--clr-black);
  text-decoration: none;
}

hr {
  margin: 0;
}

